<!DOCTYPE html>
<html lang="en">
<header>
    <h1>mikaDb</h1>
    <p class="version"></p>
</header>
<div class="page-display-name section-devider"></div>
<div class="page-cover">
    <img>
</div>
<div class="navbar main-navbar">
    <a href="/homepage" class="nav-item nav-homepage">Homepage</a>
    <a href="/lists" class="nav-item nav-lists">Lists</a>
    <a href="/leaderboards" class="nav-item nav-leaderboards">Leaderboards</a>
    <a href="/gallery" class="nav-item nav-gallery">Gallery</a>
</div>
</html>