<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/theme/theme_a/head :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>Edit Leaderboard Entry</title>
    <link rel="stylesheet" href="/ss/pallete/spring.css">
    <link rel="stylesheet" href="/ss/utils/button.css">
    <!-- use the form from anime -->
    <link rel="stylesheet" href="/ss/page/lists/anime/entry_action_bar.css">
</head>
<script th:replace="fragments/theme/theme_a/no_banner/script"></script>

<body>
<div id="main-container" class="container">
    <div th:replace="fragments/theme/theme_a/no_banner/header"></div>
    <div class="section-devider" id="main-devider">Edit a Leaderboard Entry</div>

    <!-- the form (from anime) -->
    <form method="post" autocomplete="off" th:action="'/leaderboards/entry/edit/submit'">
        <div id="entry-action-bar">
            <button type="submit" class="action-button fancy-button">Submit</button>
            <a class="action-button fancy-button" th:href="'/leaderboards/entry/delete/' + ${entry.getId()}">Delete</a>
            <a class="action-button fancy-button" th:href="'/leaderboards'">Cancel</a>
        </div>
        <div th:replace="/leaderboards/mods/leaderboard-entry-form"></div>
    </form>
</div>
</body>

<script>
    $(document).ready(() => {
        // disabled fields will have muted label color
        $('.entry-form .field-container .field-disabled').parent().find('.field-label').css(
            'color', 'var(--font-color-muted)'
        );
    });
</script>
</html>