<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/theme/theme_a/head :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>mikaDb</title>
    <link rel="stylesheet" href="/ss/pallete/pearl.css">
    <link rel="stylesheet" href="/ss/utils/button.css">
</head>
<script th:replace="fragments/theme/theme_a/script"></script>

<body>
<div id="main-container" class="container">
    <div th:replace="fragments/theme/theme_a/header"></div>
    <div class="section-devider" id="main-devider">Loading... Please wait...</div>
</div>
</body>

</html>