<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/theme/theme_a/head :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>Audio Gallery</title>
    <link rel="stylesheet" href="/ss/pallete/deep-ocean.css">
    <link rel="stylesheet" href="/ss/page/gallery/audio-gallery.css">
</head>
<script th:replace="fragments/theme/theme_a/no_banner/script"></script>

<body>
<div id="main-container" class="container">
    <div th:replace="fragments/theme/theme_a/no_banner/header"></div>

</div>
</body>
</html>