<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/theme/theme_a/head :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>Changes Log</title>
    <link rel="stylesheet" href="/ss/pallete/spring.css">
    <link rel="stylesheet" href="/ss/page/gallery/chitoyuuki-sys.css">
</head>
<script th:replace="fragments/theme/theme_a/no_banner/script"></script>

<body>
<div id="main-container" class="container">
    <div th:replace="fragments/theme/theme_a/no_banner/header"></div>

    <div class="section-devider container">About</div>
    <div class="container sect about-sect">
        <p>
            This page exists so that I can draw a border between what happens before an update, and what happens after that.
            <br>
            Seems like nothing big, but it is unimaginably important.
        </p>
    </div>

    <div class="section-devider container">Log</div>
    <div class="container sect about-sect">
        
    </div>
</div>
</body>
</html>