<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 
to quicky go to a month
search MM/YYYY
  -->

<head th:replace="fragments/theme/theme_a/head :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>Monthly Ranking</title>
    <link rel="stylesheet" href="/ss/pallete/spring.css">
    <link rel="stylesheet" href="/ss/page/gallery/monthly-ranking.css">
</head>
<script th:replace="fragments/theme/theme_a/script"></script>

<body>
<div id="main-container" class="container">
    <div th:replace="fragments/theme/theme_a/header"></div>

    <div class="section-devider container">About</div>
    <div id="about-sect" class="container sect">
        <p>
            Leaderboards and Rating System are sometimes ineffective...<br>
            That's why this static page is here!<br><br>
            The page cover is <a href="/lists/anime/view/285">Higurashi</a>, since the series is the main reason why this page exists.
        </p>
    </div>

    <!-- each 2 divs like this is a year -->
    <div class="section-devider container"></div>
    <div class="year-container">
        <div class="year">
            <h2>2022</h2>
            <p>
                Never in my life have I felt as confident as I do this year. Success after success, I succeeded in everything I want, and things I would never imagine of<br>
                The high enjoyment rate of watching anime is the cherry on the cake. Thanks to SingleH, finding a good show to watch is no challenge anymore.
            </p>
        </div>

        <!-- 6/2022 -->
        <div class="entry-section">
            <span><span class="rank platinum"></span> of June</span><br>
            <a href="/lists/anime/view/330">Musou Kakyou</a>
            <p>This is what I love about fans' works: They get significantly better over time & you can see how much love they pour into every aspect of the work. Especially for Musou Kakyou, this fanmade anime's visual quality is second to no anime. </p>
        </div>

        <div class="entry-section">
            <span><span class="rank gold"></span> of June</span><br>
            <a href="/lists/anime/view/328">Non Non Biyori Repeat</a>
            <p>
                Its brilliance caught me off-guard;<br>
                I didn't expect an episodic Slice of Life anime to implement the "show, don't tell" principle this skillfully; Those slow realizations of Biyori's characters are what to be called development, not those non-sense plot twists that people speak of
            </p>
        </div>

        <!-- 5/2022 -->
        <div class="entry-section">
            <span><span class="rank gold"></span> of May</span><br>
            <a href="/lists/anime/view/326">Redline</a>
            <p>The energy and creativity of this 7-years-in-the-making movie is indeed second to none; A simple, yet perfectly approriate plot that is both interesting, concise, and support the film thoroughly; An unmatched masterpiece;</p>
        </div>

        <div class="entry-section">
            <span><span class="rank platinum"></span> of May</span><br>
            <a href="/lists/anime/view/325">Shiki</a>
            <p>
            This is like... the superior of "Another", and the more comprehensive version of "Higurashi" plot; This... maybe is.... the horror experience that I've always been yearning for;
            </p>
        </div>

        <!-- 4/2022 -->
        <div class="entry-section">
            <span><span class="rank platinum"></span> of April</span><br>
            <a href="/lists/anime/view/302">Koukaku Kidoutai: SAC</a>
            <p>Review in pending...</p>
        </div>
    </div>   

    <!-- each 2 divs like this is a year -->
    <div class="section-devider container"></div>
    <div class="year-container">
        <div class="year">
            <h2>2021</h2>
            <p>The year of picking carefully and unearthing gems, and...<br>Hosoda orz</p>
        </div>

        <!-- 11/2021 -->
        <div class="entry-section">
            <span><span class="rank platinum"></span> of November:</span><br>
            <a href="/lists/anime/view/303">Kobayashi-san Chi no Maid Dragon S</a>
            <p>
                I like Ilulu despite I thought I wouldn't, I even don't dislike Lucoa anymore;<br>
                Kyoani really has recovered;<br><br>

                This anime succeeded a risky move to tell both weird fetishes and touching story at a same times; As a man drown in works myself, Kobayashi and her story are the representatives of the highest level of relatability;
            </p>
        </div>

        <div class="entry-section">
            <span><span class="rank platinum"></span> of November:</span><br>
            <a href="/lists/anime/view/307">Nagato Yuki-chan no Shoushitsu</a>
            <ul>
                Highest Rank:
                <li>Inherit from Suzumiya Haruhi Series</li>
                <li>Immediately cured my suicidal status on The Disastrous Saturday, which usually last after few weeks</li>
            </ul>
        </div>

        <!-- 10/2021 -->
        <div class="entry-section">
            <span><span class="rank platinum"></span> of October:</span><br>
            <a href="/lists/anime/view/300">Bakemono no Ko</a>
            <ul>
                Highest Rank:
                <li>Orgasm of Excellence Award</li>
                <li>Heartstring Award</li>
                <li>Top 4 of Platinum Favorites</li>
                <li>Tier 1 of Top 20 Favorites</li>
                <li>Top 4 of MAL Favorites</li>
                <li>Classic Animes Entry</li>
            </ul>
        </div>

        <!-- 09/2021 -->
        <div class="entry-section">
            <span><span class="rank platinum"></span> of Septemper:</span><br>
            <a href="/lists/anime/view/279">Cowboy Bebop</a>
            <ul>
                Highest Rank:
                <li>Orgasm of Excellence Award</li>
                <li>Heartstring Award</li>
                <li>The Vibe Award</li>
                <li>Tier 2 of Top 20 Favorites</li>
                <li>Classic Animes Entry</li>
            </ul>
        </div>

        <!-- 07/2021 -->
        <div class="entry-section">
            <span><span class="rank platinum"></span> of July:</span><br>
            <a href="/lists/anime/view/285">Higurashi no Naku koro ni</a>
            <ul>
                Highest Rank:
                <li>Orgasm of Excellence Award</li>
                <li>Unique Award</li>
                <li>Tier 2 of Top 20 Favorites</li>
                <li>Top 9 of MAL Favorites</li>
                <li>Classic Animes Entry</li>
            </ul>
        </div>

        <!-- 06/2021 -->
        <div class="entry-section">
            <span><span class="rank gold"></span> of June:</span><br>
            <a href="/lists/anime/view/269">Yuru Yuri</a>
            <ul>
                Highest Rank:
                <li>Definitive Animes Entry</li>
            </ul>
        </div>

        <div class="entry-section">
            <span><span class="rank gold"></span> of June:</span><br>
            <a href="/lists/anime/view/262">Nichijou</a>
            <ul>
                Highest Rank:
                <li>Classic Animes Entry</li>
                <li>Definitive Animes Entry</li>
            </ul>
        </div>

        <!-- 05/2021 -->
        <div class="entry-section">
            <span><span class="rank platinum"></span> of May:</span><br>
            <a href="/lists/anime/view/263">Toki wo Kakeru Shoujo</a>
            <ul>
                Highest Rank:
                <li>Orgasm of Excellence Award</li>
                <li>Heartstring Award</li>
                <li>Tier 2 of Top 20 Favorites</li>
                <li>Top 8 of MAL Favorites</li>
                <li>Classic Animes Entry</li>
            </ul>
        </div>

        <div class="entry-section">
            <span><span class="rank platinum"></span> of May:</span><br>
            <a href="/lists/anime/view/257">Samurai Champloo</a>
            <ul>
                Highest Rank:
                <li>Orgasm of Excellence Award</li>
                <li>Classic Animes Entry</li>
                <li>Definitive Animes Entry</li>
            </ul>
        </div>

        <!-- 04/2021 -->
        <div class="entry-section">
            <span><span class="rank platinum"></span> of April:</span><br>
            <a href="/lists/anime/view/254">Shoujo Shuumatsu Ryokou</a>
            <ul>
                Highest Rank:
                <li>Orgasm of Excellence Award</li>
                <li>Heartstring Award</li>
                <li>Top 1 of Platinum Favorites</li>
                <li>Tier 1 of Top 20 Favorites</li>
                <li>Top 1 of MAL Favorites</li>
            </ul>
        </div>

        <div class="entry-section">
            <span><span class="rank gold"></span> of April:</span><br>
            <a href="/lists/anime/view/262">Joshiraku</a>
            <ul>
                Highest Rank:
                <li>Cultural Award</li>
                <li>Top 6 of MAL Favorites</li>
                <li>Tier 3 of Top 20 Favorites</li>
            </ul>
        </div>

        <!-- 03/2021 -->
        <div class="entry-section">
            <span><span class="rank platinum"></span> of March:</span><br>
            <a href="/lists/anime/view/249">Perfect Blue</a>
            <ul>
                Highest Rank:
                <li>Orgasm of Excellence Award</li>
                <li>Enlightenment Award</li>
                <li>Top 10 of MAL Favorites</li>
                <li>Classic Animes Entry</li>
            </ul>
        </div>

        <!-- 02/2021 -->
        <div class="entry-section">
            <span><span class="rank platinum"></span> of February:</span><br>
            <a href="/lists/anime/view/244">Great Pretender</a>
            <ul>
                Highest Rank:
                <li>Unique Award</li>
                <li>Tier 4 of Top 20 Favorites</li>
                <li>Top 10 of MAL Favorites</li>
                <li>Classic Animes Entry</li>
            </ul>
        </div>
    </div>
</div>
