<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/theme/theme_a/head :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>mikaDb</title>

    <link rel="stylesheet" href="/ss/pallete/spring.css">
    <link rel="stylesheet" href="/ss/page/error.css">
</head>
<body>
<div id="main-container" class="container">
    <div th:replace="fragments/theme/theme_a/header"></div>

    <div style="margin: 1rem 2.5rem">
        <h4 class="error-report-view" th:text="'Error status: ' + ${ status }" style="color: var(--font-color-alt-em);"></h4>
        <p class="note-view" th:text="${ note }"></p>
    </div>
</div>
</body>
<script src="/js/jquery.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    let version = [[${ version }]];
    /*]]>*/
    $(document).ready(() => {
        $('.version').text(`vers. ${version}`);
        $('.page-display-name').text('Error Page');
        $('.page-cover img').attr({
            'src': '/page_cover/error.png',
            'style': 'opacity: 1;',
        });
    });
</script>
</html>