<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/theme/theme_a/head :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>mikaDb</title>
    <link rel="stylesheet" href="/ss/pallete/spring.css">
    <link rel="stylesheet" href="/ss/page/gallery.css">
</head>
<script th:replace="fragments/theme/theme_a/script"></script>

<body>
<div id="main-container" class="container">
    <div th:replace="fragments/theme/theme_a/header"></div>

    <!--  -->
    <div class="section-devider">Miscellaneous</div>
</div>
</body>
</html>