
:root {
    --entry-spanning: 1.5rem;
    --trans-t: 150ms;
}

/* layout */
#entries-list {
    display: flex;
    flex-wrap: wrap;

    /* eliminate the span of the last column entries */
    /* 1.5 = -var(--entry-spanning) */
    margin-right: -1.5rem;
}

#entries-list .entry-container {
    /* sizing */
    position: relative;
    flex: 1 0 calc(25% - var(--entry-spanning));
    max-width: calc(25% - var(--entry-spanning));
    padding-top: calc(1.5 * (25% - var(--entry-spanning))); /* 2:3 ratio */

    /* spanning */
    margin-right: var(--entry-spanning);
    margin-bottom: var(--entry-spanning);
}

#entries-list .entry {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    overflow: hidden;
    border-radius: 1rem;

    cursor: pointer;

    transition-duration: var(--trans-t);
}

#entries-list .entry:hover {
    transform: scale(1.05, 1.05);
}

/* profile pic */
#entries-list .entry .entry-profile-pic {
    /* positioning */
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%;
    height: auto;

    /* hovering effects */
    opacity: 0.7;
    transition-property: opacity;
    transition-duration: var(--trans-t);
}

#entries-list .entry:hover .entry-profile-pic {
    opacity: 0.9;
}

/* info */
#entries-list .entry .info-sect {
    position: absolute;
}

#entries-list .entry .info-top {
    left: 0; top: 0;
    margin: 1rem 1rem;

    display: flex;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--background-color-sub);
    border-radius: 2rem;
}

#entries-list .entry .info-top .entry-info-rank {
    display: block;
    width: 100%;
    text-align: center;
}

#entries-list .entry .info-bot {
    left: 0; right: 0; bottom: 0;
    padding: 1rem 1.5rem;

    background-color: rgba(0, 0, 0, 0.7);
    transition-property: background-color;
    transition-duration: var(--trans-t);
}

#entries-list .entry:hover .info-bot {
    background-color: rgba(0, 0, 0, 0.8);
}
